<% include layouts/header %>
<div class="ui container top">
    <div class="ui container items">
        <div class="item">
            <div class="ui medium image">
                <img  src="<%= annonce.author.image.slice(6) %>" />
            </div>
            
            <div class="content">
                <div class="ui raised segment">
                   <h3 class="ui centered header"><%= annonce.titre %> </h3>
                    <div class="description">
                        <%= annonce.contenu %> 
                    </div> 
                </div>
                <div class="ui styled container accordion">
                    <h3 class="title">
                        <i class="dropdown icon"></i>
                        Mes Medias
                    </h3>
                    <div class="content">
                        <p>Liens Youtube, Vimeo, Dailymotion...</p>
                        
                    </div>
                    <h3 class="title">
                        <i class="dropdown icon"></i>
                        Contact
                    </h3>
                    <div class="content">
                         <p>Téléphone : <%= annonce.author.phone%></p>
                         <p>Adresse : <%= annonce.author.adresse %></p>
                         <div class ="ui container" id="mapContainer"></div>
                    </div>
                    <h3 class="title">
                        <i class="dropdown icon"></i>
                        Messages
                    </h3>
                    <form class="ui center_content content form">
                        <div class="field" action="" method="">
                            <textarea name="message" id="m" ></textarea>
                        </div>
                        <div class="field">
                            <button class="ui button">Envoyer un message</button>
                        </div>
                    </form>
                </div>
                </div>
            </div>
            <% if (currentUser && currentUser._id.equals(annonce.author.id)) { %>
            <div class="item">
                <a class="" href="/annonces/<%=annonce.id%>/edit" >
                    <button class="ui basic button">Editer annonce</button>
                </a> 
                <a class="" href="" style="display:inline">
                    <button class="ui negative button">Supprimer annonce</button>
                </a>
            </div>
            <% } %>
        </div>
</div>

<script>
    var socket = io.connect();
</script>
<script>
var map;
var marker;
var center = {lat: <%= annonce.author.geometry.lat%>, lng: <%= annonce.author.geometry.long%>}
      function initMap() {
        map = new google.maps.Map(document.getElementById('mapContainer'), {
          center: center,
          zoom: 17
        });
        marker = new google.maps.Marker({
            position : center,
            map : map
        })
      }
</script> 
<script src="https://maps.googleapis.com/maps/api/js?key=<%=process.env['GOOGLE_KEY']%>&callback=initMap"
    async defer></script>
    
<% include layouts/footer %>