<% include ../layouts/header %>
<div class="ui container top">
    <div class="ui container items">
        <div class="item">
            <div class="ui medium image">
                <img  src="<%= annonce.authorId.image.slice(6) %>" />
            </div>
            <div class="content">
                <div class="ui raised segment">
                   <h3 class="ui centered header"><%= annonce.titre %> </h3>
                    <div class="description">
                        <%= annonce.contenu %> 
                    </div> 
                </div>
                <div class="ui styled accordion">
<!--------------------------------------------MEDIAS---------------------------------------------------->                        
                    <h3 class="active title">
                        <i class="dropdown icon"></i>
                        Mes Medias
                    </h3>
                    <div class="active content center_content">
                        <% if (annonce.authorId.equals(currentUser._id)) { %>
                        <p>Liens Youtube</p>
                        <form class="ui form form_model" action="/annonces/<%= annonce._id %>/video" method="POST">
                            <div class="field">
                                <input type="text" name="video" placeholder="Entrez le lien de votre video">    
                            </div>
                            <div class="field">
                                <button class="ui basic button">Ajouter</button>    
                            </div>
                        </form>
                        <% } %>
                        <% if (annonce.media) { %>
                        <iframe  src="<%= annonce.media.substring(0,23) + /embed/ + annonce.media.slice(32) %>" frameborder="0" allow="autoplay; encrypted-media" 
                        allowfullscreen>
                            
                        </iframe>
                        <% }  else { %>
                        <p>Pas de media ajouté</p>
                        <% } %>
                    </div>
<!--------------------------------------------CONTACTS---------------------------------------------------->                        
                    <h3 class="title">
                        <i class="dropdown icon"></i>
                        Contact
                    </h3>
                    <div class="content">
                         <p>Téléphone : <%= annonce.authorId.phone%></p>
                         <p>Adresse : <%= annonce.authorId.adresse %></p>
                         <div class ="ui container" id="mapContainer"></div>
                    </div>
<!--------------------------------------------MESSAGERIE MAILGUN---------------------------------------------------->                        
                    <h3 class="title">
                        <i class="dropdown icon"></i>
                        Messages
                    </h3>
                    <form class="ui center_content content form form_model" action="/annonces/<%=annonce._id%>/send_message" method="POST">
                        <div class="field">
                            <input type="text" name="subject" placeholder="Sujet" required>
                        </div>
                        <div class="field">
                            <textarea name="text" id="m" ></textarea>
                        </div>
                        <div class="field">
                            <button class="ui button">Envoyer un message</button>
                        </div>
                    </form>
                </div>
                </div>
            </div>
<!--------------------------------------------BOUTONS Edition et Suppression---------------------------------------------------->                        

            <% if (currentUser && currentUser._id.equals(annonce.authorId._id)) { %>
            <div class="item user_btn">
                <a class="item" href="/annonces/<%=annonce.id%>/edit" >
                    <button class="ui basic button">Editer l'annonce</button>
                </a> 
                <div class="item" style="display:inline">
                        <button class="ui negative button delete">Supprimer l'annonce</button>
                        <div class="ui tiny basic modal transition visible scrolling">
                            <div class="ui header">
                                Supression
                            </div>
                            <div class="content">
                                <p>Etes-vous sûr de vouloir supprimer votre annonce?</p>
                            </div>
                            <div class="actions">
                                <div class="ui green basic cancel inverted button ">
                                    <i class="remove icon"></i>
                                    Non
                                </div>
                                <form action="/annonces/<%= annonce.id %>/?_method=DELETE" method="POST" style="display:inline">
                                    <button class="ui red basic ok inverted button">
                                        <i class="check icon"></i>
                                        Oui
                                    </button>
                                </form>
                            </div>
                        </div>
                </div>
            </div>
            <% } %>
        </div>
<!--------------------------------------------------------Commentaires---------------------------------------------------------------------------->
        <h4 class="ui horizontal divider header">
            <i class="outline comment icon"></i>
            Commentaires
        </h4>
            <form class="ui form form_model" action="/annonces/<%= annonce.id %>/comments" method="POST">
                <div class="field">
                    <textarea name="comment[text]" placeholder="votre commentaire"></textarea>
                </div>
                <div class="field">
                    <button class="ui basic fluid button">Envoyer</button>
                </div>
            </form>
                <% annonce.commentaires.map(comment => { %>
                <div class="ui comment message">
                    <img class="ui avatar image" src="<%= comment.author.image.slice(6) %>"
                    <h4 class="ui header">
                        <%= comment.author.username %>
                    </h4>
                    <p> <%= comment.text %> </p>
                    <span class="extra"> <%= moment(comment.date).locale("fr").format('DD MMMM YYYY', 'fr' ) %></span>
                </div>
                <% }) %>
</div>

<script>
var map;
var marker;
var center = {lat: <%= annonce.authorId.loc.coordinates[1]%>, lng: <%= annonce.authorId.loc.coordinates[0]%>}
      function initMap() {
        map = new google.maps.Map(document.getElementById('mapContainer'), {
          center: center,
          zoom: 17
        });
        marker = new google.maps.Marker({
            position : center,
            map : map
        })
      }
</script> 
<script src="https://maps.googleapis.com/maps/api/js?key=<%=process.env['GOOGLE_KEY']%>&callback=initMap"
    async defer></script>
    
<% include ../layouts/footer %>